@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

.ok_map {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .ok_map {
    display: block;
  }
}
.controller {
  max-width: 600px;
  margin: 0 auto;
}

#select-container {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  margin-bottom: 1rem;
}

td {
  padding: 0.5rem;
}

.featurebg {
  fill-opacity: 0;
  stroke: #fff;
  stroke-width: none;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0);
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-width: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.county-boundary {
  fill: none;
  /*   stroke: #000; */
  stroke-width: 0px;
}

.container {
  position: relative;
}

.data-desc {
  display: block;
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 1rem;
}

select {
  font-size: 1.2rem;
}

.zoom-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0.25rem;
  outline: none;
  display: none;
}

.win {
  background: rgba(0, 0, 0, 0);
}

.place-text {
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  fill: #fff;
}

.precinct-num {
  height: 20px;
  width: 100%;
  display: block;
}

.county-boundary2:hover {
  stroke: #000;
  stroke-width: 0.2px;
}

th {
  text-align: right;
  font-weight: 300;
  color: #aaa;
}

.against-vote,
.for-vote,
.against-percentage,
.for-percentage {
  text-align: right;
}

.desc-row,
.against-row {
  border-bottom: 1px solid #ccc;
}

.clrBlock {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.against-row .drk-color {
  background: #446093;
}

.for-row .drk-color {
  background: #bc3939;
}